#header{
    background-color: pink;
   
}

#header nav ul{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    padding: 30px;
    margin-top: 0;
}
#header nav ul li {
    font-size: 20PX;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    list-style-type:none;
    font-weight: bold;

}
#header nav ul li a{
    color: black;
    text-decoration: none;
}
#header nav ul li a:hover {
    color: beige;
}
#title {
   
    height: 30vh;
    text-align: center;
}
h1{
    display:flex;
    justify-content: center;
    text-align: center;
    color:black;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    display:flex;
    justify-content: center;
    text-align: center;
}
#cover{
    background-color: rgb(255, 215, 221);
    background-size: cover;
    height: 30vh;
}
#header nav ul li a:hover {
    color: beige;
}
#gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
#gallery img{
    margin-top: 20PX;
    margin-bottom: 5px;
}
#gallery img:hover{
    opacity:0.9;
}
footer {
    background-color: #ffbcbc; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    text-align: center;
  }
 