body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% de la hauteur de la vue */
    overflow: hidden; /* Pour éviter tout défilement vertical */
  }
  
  #header {
    position: absolute; /* Pour empêcher le chevauchement avec la vidéo */
    width: 100%;
    height: 50px; /* Ajustez selon vos besoins */
    background-color: rgba(0, 0, 0, 0.5); /* Fonds semi-transparent pour le logo */
  }
  
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Placez la vidéo en arrière-plan */
  }
  
  #container {
    text-align: center;
    z-index: 1; /* Placez le conteneur au-dessus de la vidéo */
    position: relative; /* Pour permettre un positionnement relatif à l'intérieur */
  }
  
  .btn-primary {
    padding: 25px 50px;
    font-size: 60px;
    background-color: #F2BED1;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;

  }
  
  .btn-primary:hover {
    background-color:  #FDCEDF;;
  }
  